.glowing {
  animation: glowing 3s infinite;
  -webkit-animation: glowing 3s infinite;
  -moz-animation: glowing 3s infinite;
  -o-animation: glowing 3s infinite;
}

@keyframes glowing {
  0% {
    background: #fff;
  }
  50% {
    background: #ffffff7e;
  }
  100% {
    background: #fff;
  }
}