@import '~bootstrap/scss/bootstrap';

html {
  scroll-padding-top: 75px;
}

.theme-black {
  color: $white;
  background-color: $black;
}

.cart-button:hover {
  @extend .bg-white;
}

.cart-button:focus {
  @extend .bg-white;
}